/* app-todo-list.component.css */

mat-header-cell, mat-cell {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

mat-table {
  overflow: auto;
  max-height: 500px; /* You can set this to whatever value you like */
}
